@define-color red #fa6363;
@define-color yellow #fee562;
@define-color green #2ec977;
@define-color blue #4484ff;
@define-color violet #8f6df1;
@define-color brown #c38a55;
@define-color gray #929292;

.day-button:checked .day-name {
  color: @accent_fg_color;
}

.day-button:disabled {
  color: alpha(@view_fg_color, 0.18);
  background: none;
}

.day-button.red:checked {
  background: @red;
}
.day-button.yellow:checked {
  background: @yellow;
}
.day-button.green:checked {
  background: @green;
}
.day-button.blue:checked {
  background: @blue;
}
.day-button.violet:checked {
  background: @violet;
}
.day-button.brown:checked {
  background: @brown;
}
.day-button.gray:checked {
  background: @gray;
}
.tag-toggle-red radio {
  box-shadow: none;
  background: @red;
}

.tag-toggle-yellow radio {
  box-shadow: none;
  background: @yellow;
}

.tag-toggle-green radio {
  box-shadow: none;
  background: @green;
}

.tag-toggle-blue radio {
  box-shadow: none;
  background: @blue;
}

.tag-toggle-violet radio {
  box-shadow: none;
  background: @violet;
}

.tag-toggle-brown radio {
  box-shadow: none;
  background: @brown;
}

.tag-toggle-gray radio {
  box-shadow: none;
  background: @gray;
}

.day-red.marked {
  background: @red;
  color: @accent_fg_color;
  padding: 0 4px;
}
.day-yellow.marked {
  background: @yellow;
  color: @accent_fg_color;
  padding: 0 4px;
}
.day-green.marked {
  background: @green;
  color: @accent_fg_color;
  padding: 0 4px;
}
.day-blue.marked {
  background: @blue;
  color: @accent_fg_color;
  padding: 0 4px;
}
.day-violet.marked {
  background: @violet;
  color: @accent_fg_color;
  padding: 0 4px;
}
.day-brown.marked {
  background: @brown;
  color: @accent_fg_color;
  padding: 0 4px;
}
.day-gray.marked {
  background: @gray;
  color: @accent_fg_color;
  padding: 0 4px;
}

.day-red.inactive,
.day-red.inactive.skipped,
.day-yellow.inactive,
.day-yellow.inactive.skipped,
.day-green.inactive,
.day-green.inactive.skipped,
.day-blue.inactive,
.day-blue.inactive.skipped,
.day-violet.inactive,
.day-voilet.inactive.skipped,
.day-brown.inactive,
.day-brown.inactive.skipped,
.day-gray.inactive,
.day-gray.inactive.skipped {
  color: alpha(@view_fg_color, 0.18);
  background: none;
  padding: 0 4px;
}

.day-red.skipped {
  background: alpha(@red, 0.18);
  color: @red;
  padding: 0 4px;
}
.day-yellow.skipped {
  background: alpha(@yellow, 0.18);
  color: @yellow;
  padding: 0 4px;
}
.day-green.skipped {
  background: alpha(@green, 0.18);
  color: @green;
  padding: 0 4px;
}
.day-blue.skipped {
  background: alpha(@blue, 0.18);
  color: @blue;
  padding: 0 4px;
}
.day-violet.skipped {
  background: alpha(@violet, 0.18);
  color: @violet;
  padding: 0 4px;
}
.day-brown.skipped {
  background: alpha(@brown, 0.18);
  color: @brown;
  padding: 0 4px;
}
.day-gray.skipped {
  background: alpha(@gray, 0.18);
  color: @gray;
  padding: 0 4px;
}

.linked button:first-child:not(.combo) {
  border-radius: 12px 0 0 12px;
}

.linked button:not(:first-child):not(:last-child):not(.combo) {
  border-radius: 0;
  margin-left: -1px;
}

.linked button:last-child:not(.combo) {
  border-radius: 0 12px 12px 0;
  margin-left: -1px;
}
