.day-button:checked .day-name {
  color: @accent_fg_color;
}

.day-button:disabled {
  color: alpha(@view_fg_color, 0.18);
  background: none;
}

.day-button.red:checked {
  background: #fa6363;
}
.day-button.yellow:checked {
  background: #fee562;
}
.day-button.green:checked {
  background: #2ec977;
}
.day-button.blue:checked {
  background: #4484ff;
}
.day-button.violet:checked {
  background: #8f6df1;
}
.day-button.brown:checked {
  background: #c38a55;
}
.day-button.gray:checked {
  background: #929292;
}
.tag-toggle-red radio {
  box-shadow: none;
  background: #fa6363;
}

.tag-toggle-yellow radio {
  box-shadow: none;
  background: #fee562;
}

.tag-toggle-green radio {
  box-shadow: none;
  background: #2ec977;
}

.tag-toggle-blue radio {
  box-shadow: none;
  background: #4484ff;
}

.tag-toggle-violet radio {
  box-shadow: none;
  background: #8f6df1;
}

.tag-toggle-brown radio {
  box-shadow: none;
  background: #c38a55;
}

.tag-toggle-gray radio {
  box-shadow: none;
  background: #929292;
}

.day-red.marked {
  background: #fa6363;
  color: @accent_fg_color;
  padding: 0 4px;
}
.day-yellow.marked {
  background: #fee562;
  color: @accent_fg_color;
  padding: 0 4px;
}
.day-green.marked {
  background: #2ec977;
  color: @accent_fg_color;
  padding: 0 4px;
}
.day-blue.marked {
  background: #4484ff;
  color: @accent_fg_color;
  padding: 0 4px;
}
.day-violet.marked {
  background: #8f6df1;
  color: @accent_fg_color;
  padding: 0 4px;
}
.day-brown.marked {
  background: #c38a55;
  color: @accent_fg_color;
  padding: 0 4px;
}
.day-gray.marked {
  background: #929292;
  color: @accent_fg_color;
  padding: 0 4px;
}

.day-red.inactive,
.day-red.inactive.skipped,
.day-yellow.inactive,
.day-yellow.inactive.skipped,
.day-green.inactive,
.day-green.inactive.skipped,
.day-blue.inactive,
.day-blue.inactive.skipped,
.day-violet.inactive,
.day-voilet.inactive.skipped,
.day-brown.inactive,
.day-brown.inactive.skipped,
.day-gray.inactive,
.day-gray.inactive.skipped {
  color: alpha(@view_fg_color, 0.18);
  background: none;
  padding: 0 4px;
}

.day-red.skipped {
  background: alpha(#fa6363, 0.18);
  color: #fa6363;
  padding: 0 4px;
}
.day-yellow.skipped {
  background: alpha(#fee562, 0.18);
  color: #fee562;
  padding: 0 4px;
}
.day-green.skipped {
  background: alpha(#2ec977, 0.18);
  color: #2ec977;
  padding: 0 4px;
}
.day-blue.skipped {
  background: alpha(#4484ff, 0.18);
  color: #4484ff;
  padding: 0 4px;
}
.day-violet.skipped {
  background: alpha(#8f6df1, 0.18);
  color: #8f6df1;
  padding: 0 4px;
}
.day-brown.skipped {
  background: alpha(#c38a55, 0.18);
  color: #c38a55;
  padding: 0 4px;
}
.day-gray.skipped {
  background: alpha(#929292, 0.18);
  color: #929292;
  padding: 0 4px;
}

.linked button:first-child:not(.combo) {
  border-radius: 12px 0 0 12px;
}

.linked button:not(:first-child):not(:last-child):not(.combo) {
  border-radius: 0;
  margin-left: -1px;
}

.linked button:last-child:not(.combo) {
  border-radius: 0 12px 12px 0;
  margin-left: -1px;
}
